In [1]:
import pandas as pd
from urllib.request import urlretrieve

iris = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

urlretrieve(iris)

('C:\\Users\\Derek\\AppData\\Local\\Temp\\tmphflun9dq',
 <http.client.HTTPMessage at 0x2874c3d78b0>)

In [2]:
df = pd.read_csv(iris, sep=',')
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [3]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [4]:
col_names = ["sepal_length", "sepal_width", "petal_length", "petal_width", "class"]
df.columns = col_names
df

     sepal_length  sepal_width  petal_length  petal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

In [5]:
mask_class = df['class'] == 'Iris-virginica'
df.loc[mask_class, 'class'] = "New label"
df

     sepal_length  sepal_width  petal_length  petal_width        class
0             4.9          3.0           1.4          0.2  Iris-setosa
1             4.7          3.2           1.3          0.2  Iris-setosa
2             4.6          3.1           1.5          0.2  Iris-setosa
3             5.0          3.6           1.4          0.2  Iris-setosa
4             5.4          3.9           1.7          0.4  Iris-setosa
..            ...          ...           ...          ...          ...
144           6.7          3.0           5.2          2.3    New label
145           6.3          2.5           5.0          1.9    New label
146           6.5          3.0           5.2          2.0    New label
147           6.2          3.4           5.4          2.3    New label
148           5.9          3.0           5.1          1.8    New label

[149 rows x 5 columns]

In [6]:
groupby_class_mean = df.groupby('class').mean()
groupby_class_mean

                 sepal_length  sepal_width  petal_length  petal_width
class
Iris-setosa          5.004082     3.416327      1.465306     0.244898
Iris-versicolor      5.936000     2.770000      4.260000     1.326000
New label            6.588000     2.974000      5.552000     2.026000